<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'MAPS'}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-title>{{'Erangel'}}</ion-title>
        <ion-img src="assets/maps/erangel.png" (click)="openViewer('erangel.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Miramar'}}</ion-title>
        <ion-img src="assets/maps/miramar.png" (click)="openViewer('miramar.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Sanhok'}}</ion-title>
        <ion-img src="assets/maps/sanhok.png" (click)="openViewer('sanhok.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Vikendi'}}</ion-title>
        <ion-img src="assets/maps/vikendi.png" (click)="openViewer('vikendi.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Taego'}}</ion-title>
        <ion-img src="assets/maps/taego.png" (click)="openViewer('taego.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Paramo'}}</ion-title>
        <ion-img src="assets/maps/paramo.png" (click)="openViewer('paramo.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Karakin'}}</ion-title>
        <ion-img src="assets/maps/karakin.png" (click)="openViewer('karakin.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Haven'}}</ion-title>
        <ion-img src="assets/maps/haven.png" (click)="openViewer('haven.png')"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-title>{{'Jackal'}}</ion-title>
        <ion-img src="assets/maps/jackal.png" (click)="openViewer('jackal.png')"></ion-img>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>