<ion-content padding>
  <div class="backgroundLogin">
    <ion-card>
      <ion-card-content>
        <p> <b> Write your name exactly as it is in the game </b> </p>
        <ion-list>
          <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Server</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="sv">
              <ion-select-option value="steam">steam</ion-select-option>
              <ion-select-option value="kakao">kakao</ion-select-option>
              <ion-select-option value="psn">psn</ion-select-option>
              <ion-select-option value="stadia">stadia</ion-select-option>
              <ion-select-option value="xbox">xbox</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button color="primary" (click)="login()" expand="full">Find Me!</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>